{% extends "layout.html" %}
{% block content %}
        {% for item in items %}
            <ul>
            <li>{{ item.content }}
                <form action= "/delete/{{ item.id }}/" method = "post">
                    {% csrf_token %}
                    <input type = "submit" value="Delete" class="btn btn-outline-danger">
                </form>
            </li>
            </ul>   
        {% endfor %}
        <div class="col text-center">
            <a class="btn btn-primary" href="{% url 'form' %}" role="button">Add new task</a>
        </div>
{% endblock %}